.card-container {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(114, 219, 73, 0.418), 0 2px 1px -1px rgba(167, 236, 56, 0.63), 0 1px 1px 0 rgba(138, 219, 71, 0.555);
    padding: $spacing-xl;
    margin: $spacing-xl;
}

.page-container {
    background-color: white;
    padding: $spacing-xl;
    margin: $spacing-sm;
    min-height: 560px;
}

.sticky-container {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky-sidebar {
    position: sticky;
    left: 0;
    height: 100vh;
    background-color: white;
    padding: $spacing-xl;
}

.scrollable-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}