.home-page {
    .sidebar {
        background-color: green;
        height: 100vh;
    };
    .banner {
        background-color: red;
        height: 50vh;
    };
    .menu {
        background-color: yellow;
        height: 100vh;
    };
};
