// This file contains color styles.

// Primary
$color-primary-green: #115740;
$color-text: #3d4042;
$color-page-background: #eaeaea;
$color-container-background: #fff;

// Secondary
$color-link: #2d8031;
$color-link-hover: #125d15;
$color-disabled-state: #b1b1b1;
$color-borders: #cecece;

// Green
$color-green-100: #dfe8e5;
$color-green-200: #bdd0c9;
$color-green-300: #9ab8ae;
$color-green-400: #78a093;
$color-green-500: #568777;
$color-green-600: #336f5c;
$color-green-700: #115740;
$color-green-800: #0d4936;
$color-green-900: #093b2b;

// Dark Green
$color-green-100: #e2fce3;
$color-green-200: #b8e1ba;
$color-green-300: #8ec791;
$color-green-400: #64ac68;
$color-green-500: #3a913f;
$color-green-600: #2d8031;
$color-green-700: #206f23;
$color-green-800: #125d15;
$color-green-900: #054c07;

// Aqua
$color-aqua-100: #e1fcff;
$color-aqua-200: #a2eaf4;
$color-aqua-300: #68d2d8;
$color-aqua-400: #36b4bc;
$color-aqua-500: #00a0aa;
$color-aqua-600: #088b94;
$color-aqua-700: #0a7a82;
$color-aqua-800: #05676e;
$color-aqua-900: #085459;
$color-aqua-950: #283a3c;