@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Import all your Style Sheets Here

// Import Pages
@import './pages/_home-page.scss';

// Import Themes
@import './themes/light';
@import './themes/dark';

// Import Abstracts
@import './abstracts/colors';
@import './abstracts/spacing';
@import './abstracts/typography';

// Import base styles
@import './base/containers';
@import './base/objects';
@import './base/typography';


html,body 
{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: $color-primary-green;
    margin: 0;
}

#app 
{
    background-color: $color-page-background;
    color: $color-primary-green;
}


.features 
{
    font-size: 1.7rem;

    & div 
    {
        padding: 0.5rem;
    }
}